---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: main
  namespace: envoy-gateway-system
spec:
  logging:
    level: 
      default: warn
      upstream: info
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        externalTrafficPolicy: Cluster
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: 192.168.218.180
